{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load base_tags %}

{% block title %} {% trans "Welcome!" %} - {{ block.super }} {% endblock %}

{% block body_class %}home{% endblock %}

{% block middle %}
  {{ block.super }}
  {% block hero %}

  <div class="jumbotron">
    <div class="container">
      <h1>{% trans "KALRO GIS" %}</h1>
      <h3>{% trans "Data Portal" %}</h3>
      <!-- <hr > -->
      <hr class="col-lg-4 col-md-5 col-sm-6 col-xs-11">  
      <!-- <br> -->
      <p class="v-aligned col-lg-12 col-md-12 col-sm-12 col-xs-12">{% blocktrans %}Welcome to the KALRO spatial data portal, your source of open spatial data on Kenyan Agricultural and Livestock research.{% endblocktrans %}</p>
      <p class="v-aligned col-lg-12 col-md-12 col-sm-12 col-xs-12">{% blocktrans %}Browse for all our projects and data layers. {% endblocktrans %}</p>
      <div class="v-aligned col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <a class="btn btn-default btn-lg" href="{% url "project_list" %}" role="button">{% blocktrans %} Projects &raquo;{% endblocktrans %}</a>        
        <!-- target="_blank" --> 
      </div>
    </div>
  </div>
  {% endblock %}

  {% block mainbody %}
  <div class="big-search">
    <div class="container">
      <h1>{% trans "Search for Data." %}</h1>
      <div class="search">
        <form id="search" action="{% url "search" %}" >
          <span class="fa fa-search fa-2x"></span>
          {% if HAYSTACK_SEARCH %}
          <input id="search_input" type="text" placeholder="Search" class="form-control" name="q">
          {% else %}
          <input id="search_input" type="text" placeholder="Search" class="form-control" name="title__icontains">
          {% endif %}
        </form>
      </div>
      <p><a class="btn btn-default btn-lg" href="/search/">Advanced Search</a></p>
    </div>
  </div>

  <section id="showcase">
    <div class="container">
      <div class="row">
        <h2>Featured Datasets</h2>
        {% verbatim %}
        <div ng-app="featured">
          <div ng-repeat="item in featured | limitTo:4">
            <div class="col-md-3">
              <a href="{{ item.detail_url }}"><img ng-src="{{ item.thumbnail_url }}" /></a>
              <h4>{{ item.title | limitTo: 20 }}{{item.title.length > 20 ? '...' : ''}}</h4>
            </div>
          </div>
        </div>
      {% endverbatim %}
      </div>
      <p><a href="/search/">Explore all datasets</a></p>
    </div>
  </section>
  {% endblock %}

{% endblock %}

{% block extra_script %}
{% if DEBUG_STATIC %}
<script src="{{ STATIC_URL }}lib/js/angular.js"></script>
{% endif %}
<script type="text/javascript">
    FEATURED_URL = '{% url 'api_dispatch_list' api_name='api' resource_name='featured' %}'
    'use strict';
    (function(){
      var module = angular.module('featured', []);
      module.run(function($http, $rootScope){
        $http.get(FEATURED_URL).success(function(data){
          $rootScope.featured = data.objects;
        });
      });
    })();
</script>
<script>
  $('[data-toggle="tooltip"]').tooltip();
</script>
{% endblock extra_script %}
