{% extends 'projects/project_base.html' %}
{% load i18n %}
{% load staticfiles %}
{% load url from future %}

{% block title %} {% trans "Explore Projects" %} - {{ block.super }} {% endblock %}

{% block body_class %}projects explore{% endblock %}

{% block body %}

  {% if user.is_authenticated %}
    <div class="page-header">
      <h2>{% trans "Explore Projects" %}</h2>
      <a href="{% url 'new_project' %}" class="btn btn-primary pull-right">{% trans "Create a New Project" %}</a>
    </div>
  {% else %}
    <div class="page-header">
      <h2>{% trans "Explore Projects" %}</h2>
    </div>
  {% endif %}

  {% if code == 'NULL' %}
    <p class="lead"> There are no projects created yet.</p>
  {% elif code == 'NULL_COMPLETE' %}
    <p class="lead"> There are no completed projects yet.</p>
  {% elif code == 'NULL_ONGOING' %}
    <p class="lead"> There are no continuing projects currently.</p>
  {% else %}

    {% for project in projects %}      
      <div class="panel panel-success container-fluid" id="projectPanel">
        <div class="panel-body container-fluid">
          {% if user.is_authenticated %}
            <a  class="edit " type="button" aria-label="Edit" href="{% url 'edit_project' pk=project.pk %}"><i class="fa fa-cog fa-x"></i> Edit </a>
          {% endif %}
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 project_image">
                <a href="{{ project.get_absolute_url }}">
                  <img src="{{ project.image.url }}" alt="{{ project.get_absolute_url }}" class="img img-responsive">
                </a>
            </div>               
            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 details">
              <div class="proj_header">
                <h3><a href="{{ project.get_absolute_url }}"> {{ project.title }} </a></h3>
              </div>
              <div class="proj_sub">
                <p class="lead"><span class="col-lg-6">Organization: {{ project.organization }}</span><span class="col-lg-6">Status: {{ project.get_status }}</span></p>
                
              </div>
              <div class="proj_desc">
                <p class="short">{{ project.description|truncatewords:85|linebreaksbr }} <a href="{{ project.get_absolute_url }}"> more <i class="fa fa-angle-double-right"></i></a></p>
              </div>
            </div>          
        </div>
        <div class="panel-footer">
          <div class="row">
            <div class="footer-block maps col-lg-4 col-md-4 col-sm-4 col-xs-4 text-center">
              <i class="fa fa-map"></i>
              <a href="{% url 'maps_browse' %}">{{ project.get_maps|length }} Maps </a>
            </div>

            <div class="footer-block layers col-lg-4 col-md-4 col-sm-4 col-xs-4 text-center">
              <i class="fa fa-clone"></i>
              <a href="{% url 'layer_browse' %}">{{ project.get_layers|length }} Layers </a>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  {% endif %}
{% endblock %}